# Howdy! Welcome to the .gitignore list where rules are set to ignore files or directories on GitHub.
# Feel free to add things as necessary

# Ignore environment files
*.env

# Ignore virtual environment folders and directories
venv/
env/

# Ignore log folders and directories
logs/

# Ignore log files
*.log

# Ignore Compiled Python files
*.pyc

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore 'GPT' directory
# GPT/

# Ignore 'Data' directory
Data/

# Ignore 'interpreter.py'
interpreter.py

# Ignore 'script_graveyard'
# script_graveyard/